//Checkout form
.checkout_form{
  width:45vw;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) scale(0);
  z-index: 10;
  overflow: auto;
  transition: all .3s ease-in-out;
    & form{
        width: 80%;
        display: flex;
        flex-direction: column; 
        align-items: center;
        margin: 0 auto;
        background-color: $form-bg;
        & > span{
            display: inline-block;
            font-weight: 600;
            font-size: 2.8rem;
            padding:5rem 0;
            color: $card-text-color-black;
            align-self: flex-start;
            margin-left: 5%;
        }
     
    }
    #shipping, #phone, textarea{
        display: inline-block;
        width:90%;
    
    }
    div.name, div.city{
        display: flex;
        justify-content: space-between;
        width: 90%;
            & input{
                width: 49%;
            }
    }
    input[type=text],textarea{
        margin-bottom: 3%;
        border: .5px solid $color-green-nav-btn;
        padding: .3rem 0 .3rem 1.2rem;
        resize: none;
            &:focus{
            outline: .5px solid $color-green-nav-btn;
            }
    }
    .payment{
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        margin-left: 5%;
            & input[type=radio]{
                display: inline-block;
                 border: 1px solid $color-green-nav-btn;
            }
            & label{
                font-size: 1.4rem;
                padding-left: .8rem;
                color:$form-label-color;
            }
            & > span{
                font-weight: 600;
                font-size: 2.1rem;
                padding-bottom: .5rem;
                    
            }
    }
    .total_amount{
        width: 60%;
        margin: 5% auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;      
            & input{
               @include green_btn(1rem,1rem);
               width: 16rem;
               border: none;
               color: $color-white;
               margin-top: 2%;
            }
            & .bold{
                display: inline-block;
                font-weight: 700;
                padding-left: .5rem;
            }
    }
}
#overlay{
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, .8);
    transition: all .3s ease-in-out;
    pointer-events: none;
}
#overlay.active{
    opacity: 1;
    pointer-events: all;
}
.checkout_form.active{
    transform: translate(-50%,-50%) scale(1);
}