.footer{
    background-color:$footer-bg-color;
    color:$footer-txt-color;
    &_row{
        width: 80%;
        padding-bottom: 5rem;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $footer-border-bottom;

    }
    & span{
        display: inline-block;
        font-weight: 600;
        font-size: 1.4rem;
        margin-top:2.8rem;
        padding-bottom: 4rem;
    }
    &-col{
        & h6,#footer_logo{
            font-size: 1.6rem;
            font-weight: 600;
            padding-top:6rem;
            padding-bottom:3rem;
        }
        & li{
            font-weight: 400;
            font-size: 1.4rem;
            padding:1rem 0;
            text-decoration: underline;

            & img{
                padding:1rem 2rem 0 0;

            }
        }
    }
   
}

.footer_row--col{
    &1{
        flex:2;
        & p{
            font-weight: 400;
            font-size: 1.4rem;
            padding-right: 5rem;
        }
    }
    &2{
        flex:1;
    }
    &3{
        flex:1;
    }
}
#footer_copyright{
    text-align: center;
}