.nav{
    z-index: 999;
    height: 10vh;
    min-width:100vw;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    &_col-1{
        flex:2.9 ;
    //   flex-basis:13rem;
       justify-self: center;
       min-width: 350px;
       & a{
        display: block;
    }
    
        & img{
        display: inherit;
         margin-left: 55%;
        }
    }
    &_col-2{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex:1;
        margin-right: 1.5rem;

    }

    &_shop{
        display:flex;
        align-items: center;
        &--btn{
            font-size: 1.4rem;
            line-height: 0rem;
            font-weight: 700;
            padding: 1.5rem;
            width: 12rem;
            height: 3.1rem;
            background-color: $color-green;
            border-radius: 5rem;
        }
        &--cart{
            margin-left: 1rem;
            & a{
                position: relative;
            }
            & span{
                font-size: 1rem;
                font-weight: 700;
                text-align: center;
                line-height: 1.4rem;
                display: inline-block;
                background-color: $card-btn-bg;
                border-radius: 50%;
                position: absolute;
                top: -30%;
                left: 65%;
                width: 1.4rem;
                height: 1.4rem;
                
            }
        }
    }
    &_social{
        display: flex;
        &--fb{
            margin-right: .8em;
        }
        & a{
            display: block;
            padding-top: .4rem;
        }
    }
    &_burger{
        background: url('../Design/home/burger_menu.png');
        height: 1.4rem;
        width: 2rem;
        cursor: pointer;
        position: relative;
    }

}
.navigation{
    position: absolute;
    background-color: $footer-bg-color;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100vw;
    height: 120vh;
    display: flex;
    flex-direction: column;
        &-items{
            width: 80%;
            margin: 0 auto;
            margin-top: 10rem;
            border-bottom: 1px solid #fff;
                & h6{
                    color: $history-content-color;
                    font-weight: 400;
                    font-size: 1.6rem;
                    line-height: 1.9rem;
                    margin-bottom: 5rem;
                }
                & li{
                    padding-top: 2rem;
                    &:last-child{
                        margin-bottom: 3.5rem;
                    }
                }
                & a{
                    color:$color-white;
                    font-weight: 400;
                    font-size: 2.8rem;
                    line-height: 3.8rem;
                }
        }
        &-footer{
            width: 80%;
            margin: 0 auto;
            margin-top: 5rem;
                & a{
                    color:$color-white;
                    font-weight: 400;
                    font-size: 1.4rem;
                    line-height:1.9rem;
                }
        }
        &_exit--btn{
            display: inline-block;
            position: absolute;
            font-size: 3rem;
            right: 3%;
            top: 1%;
            transform: rotate(45deg);
            cursor: pointer;
        }
}
.navigation{
    display: none;
}
.navigation.active{
    display: block;
}
