@mixin  clearfix {
    &::after{
        content: "";
        clear: both;
        display: table;
    }
    
}
@mixin yellow_btn($margin){
    display: inline-block;
    background-color: $card-btn-bg;
    text-align: center;
    font-size: 1.6rem;
    color: $card-btn-txt;
    padding: .9rem 1.6rem;
    margin-bottom: $margin;
}

@mixin green_btn($padding1,$padding2){
    text-align: center;
    display: inline-block;
    padding:$padding1 $padding2;
    margin-top:7%;
    background-color:$color-green-nav-btn;
    font-size: 1.6rem;
}
@mixin crud_btn($color){
    display: inline-block;
    text-align: center;
    font-weight: 600;
    background-color: $color;  
    width: 16rem;
    height: 4rem;
    line-height: 4rem;
    margin: 3.5rem 0;           
    border-radius: 5px;
}