$color-white: #ffffff;
$color-green: #489d48;
$color-green-nav-btn: #479c47;
$color-home-products-background: #f4f4f4;

//home
$card-text-color-black: #040404;
$card-text-color-green: #1a9f3b;
$card-btn-bg: #f3c150;
$card-btn-txt: #1b1b1b;
$dha-radio-btn: #898989;

//header
$slider-bg-1: #479c47e6;
$slider-bg-2: rgba(243, 193, 80, 0.85);

//footer
$footer-bg-color: #3b7f48;
$footer-txt-color: #fbf9f4;
$footer-border-bottom: #d6f39c80;

//omega
$color-green-info-txt: #479c48;

//history
$li-color-black: #1b1b1b;
$radio-btn: #8ccf9d;
$radio-btn-active: #1a9f3b;
$history-content-color: #d6f39c;

//faq border
$faq-border: #3b7f4880;

//contact
$custom-option-txt: #828282;
$custom-select-hover-bg: #f3f8f5;

//add to cart
$amount-border: #c4c4c4;

//shop
$color-breadcrumbs-li: #979797;
$color-not-available: #d35b53;

//cart
$form-label-color: #8f8f8f;
$form-bg: #fafafa;

//crud
$color-remove-btn: #de2942;
$color-edit-btn: #eb901a;
