//Select menu
.country_header{
    position: relative;
}
.select_wrapper{
    position: absolute;
    top: 25%;
    left: 20%;
}
.custom_select select{
    font-family: 'Open Sans', sans-serif;
    font-size: 2.1rem;
    line-height: 2.8rem;
    font-weight: 600;
    padding: 1rem 30rem 1rem 2rem;
    border: 2px solid $color-green-nav-btn;
    outline: none;
    height: 7rem;
}
.custom_arrow{
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    width: 3rem;
    height: 100%;
    background-color: $color-white;
    border: 2px solid $color-green-nav-btn;
    border-left: none;
    pointer-events:none;

}
.custom_arrow::before,
.custom_arrow::after{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    left: 20%;
    transform: translate(-50%,-50%);
    border-radius: 30px;
}
.custom_arrow::before{
    border-left:.5rem solid transparent;
    border-right: .5rem solid transparent;
    border-bottom: .5rem solid #000;
    top: 40%;
}
.custom_arrow::after{
    border-left:.5rem solid transparent;
    border-right: .5rem solid transparent;
    border-top: .5rem solid #000;
    top: 65%;
}
#page_select{
    display: inline-block;
    text-align: center;
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 3rem;
    width: 26rem;
    height: 7rem;
    line-height: 7rem;
    font-weight: 600;
    font-size: 2.1rem;
    background-color: $color-green-nav-btn;
       & > svg{
           vertical-align: middle;
           margin-left: 1rem;
       }
}