
//Change and ADD product form
.change_product--wrapper, .add_product--wrapper{
    & form{
        margin-left: 5%;
        
        & > div{
            display: flex;
            margin-bottom: 3rem;
        }
            display: flex;
            flex-direction: column;
                & label, input{
                    width: 30%;
                    padding: 1rem;
                    border-radius: 3px;
                        &:not(input){
                            font-weight: 700;
                        }
                }
                & textarea{
                    width: 60%;
                    min-height: 10rem;
                    vertical-align: middle;
                    padding: 1rem;
                  

                }
                & input[type=submit]{
                    color: $color-white;
                    font-weight: 600;
                    align-self: center;
                    background-color: $color-green-nav-btn;
                    width: 12rem;
                    border: none;
                    border-radius: 5px;
                    margin-bottom: 3rem;
                    cursor: pointer;
                    transition: all .3s;
                         &:hover{
                            box-shadow: .5px 1.5px 7px rgba(0,0,0,.6);
                          }
                          &:active{
                            box-shadow: .5px .7px 3px rgba(0,0,0,.6);
            
                        }

                }
        }
    & a{
        text-align: center;
        font-weight: 600;
        display: inline-block;
        width: 10rem;
        height: 5rem;
        line-height: 5rem;
        background-color:$card-btn-bg;
        margin: 3rem 6rem;
        border-radius: 5px;
        transition: all .3s;
            &:hover{
                box-shadow: .5px 1px 6px rgba(0,0,0,.6);
            }
            &:active{
                box-shadow: .5px .5px 2px rgba(0,0,0,.6);

            }


    }
            
}