//Section 1 - dha infocards

.dha_infocard{
    &--row{
        display: flex;
        align-items: center;
            &:not(:last-child){
            margin-bottom: 10%;
            }
            & > div{
                flex:1;
                height: 70rem;
            }
    }
}
.dha_row{

    &--content{
    background-color: $color-home-products-background;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        & > div{
            width: 75%;
            margin: 0 auto;
            padding-left: 15%;
            
                & h3{
                color:$card-text-color-black;
                font-weight: 400;
                font-size: 2.8rem;
                line-height: 3.8rem;
                }
                & span.desc{
                    color: $card-text-color-green;
                    display: inline-block;
                    font-weight: 600;
                    font-size: 1.4rem;
                    line-height: 1.9rem;
                    padding-bottom: 2.5rem;
                }
                & p{
                    font-weight: 400;
                    font-size: 1.4rem;
                    line-height: 1.9rem; 
                    &:not(:last-child){
                        padding-bottom: 2rem;
                    }
                        & span.bold{
                            font-weight: bold;
                        }
                }
        }
    }
       
    &--img{
        &1{
            background: url('../Design/dha/img1.png') no-repeat center / cover;
        }
        &2{
            background: url('../Design/dha/img2.png') no-repeat center / cover;
        }
    }
    
}
