.section_shop-product{
    &--wrapper{
        width: 80%;
        margin: 0 auto;
    }
}
.shop_product--row1{
    display: flex;
        &-col1{
            flex:1;
                & img{
                    height: 90rem;
                }
        }
        &-col2{
            flex: 1;
            margin-top: 12%;
            & h2{
                color: $card-text-color-black;
                font-weight: 600;
                font-size: 3.2rem;
            }
            & p{
                font-size: 2.1rem;
                color: $color-green-nav-btn;
            }
        }
}
.shop_product{
        &--price{
            padding-bottom: 1rem;
            & span{
                font-size: 1.4rem;
            }
            & span.price{
                display: inline-block;
                font-size: 3.6rem;
                font-weight: 600;
                padding: 0 .5rem 0 2rem;
            }
            & span.currency{
                font-weight: 700;
                font-size: 1.6rem;
            }
           
        }
        &--amount{
            display: flex;
            align-items: center;
            padding-bottom: 2rem;
            width: 50%;
            border-bottom: 1px solid $color-green-nav-btn;
            & h6{
                display: inline-block;
                margin-right: 2rem;
                font-size: 1.4rem;
                font-weight: 400;
            }
            & form{
               
                & > div#form_row{
                    display: flex;
                    justify-content: space-around;
                    width: 18rem;
                        > div{
                            text-align: center; 
                            cursor: pointer;
                        }
                        & .subBtn, .addBtn{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border: 1px solid $amount-border;
                            color:$amount-border;
                            width: 5rem;
                            height: 5rem;
                            margin: auto 0;
                               &:hover{
                                    color: #000;
                                }
                        }
                   
                }
                & input{
                    width: 5rem;
                    height: 5rem;
                    border: 1px solid $color-green-nav-btn;
                    outline: none;
                    text-align: center;
                }
               
            }
        }
}
.shop_product-row1-col2--bottom{
    & >span{
        color:$color-green-nav-btn;
        display: inline-block;
        padding:2.5rem 0;
            &:first-child{
                font-size: 1.4rem;

            }
            &:nth-child(2){
                font-weight: 600;
                font-size: 3.6rem;
                padding-right: .5rem;
                padding-left: 2rem;

            }
            &:last-child{
                font-weight: 700;
            }
    }
    & > a{
        display: inline-block;
        color: $color-green-nav-btn;
        text-decoration: underline;
        padding: 1.5rem 0;

    }
}
.product-cart{
    width: 40%;
            & input#submit{
                background-color: $color-white;
                border: none;
                width: 80%;
                cursor: pointer;
            }
}

//Row 2
.shop_product--row2{
    & img{
        display: none;
    }
    & h5{
        margin-left: 42%;
        font-weight: 600;
        font-size: 2.8rem;
    }
}
.product_desc{
    width: 65%;
    & ul{
        margin-bottom: 1.5rem;
        & li{
            list-style-type: disc;
        }
    }
       
}

//Details on product not available
.details_not_available{
    color: $amount-border;
    cursor:not-allowed;
    & a{
    color: $amount-border;
        &#back:hover{
            color: $color-green-nav-btn;
        }

    }
    &.shop_product--amount,.product_amount--row{
        border-color: $amount-border;
        cursor:not-allowed;
    }
    & .product_amount--row form input{
        border-color: $amount-border;
        color:$amount-border ;
    }
    &.shop_product-row1-col2--bottom {
        cursor: not-allowed;
        & span{
            color: $amount-border;
        }
    }
    
   
    &.shop_product-cart{
        border-color: $amount-border;
        & a{
            flex: 3;
        }
        &  > div.shop_product-cart--btn{
            background-color: $amount-border;            
        }
     & input{
        color: $amount-border;
        
    }
    }
  
}

//Availability popup
.availability_inform{
    padding: 3% 0;
   
    & span{
        display: block;
        font-weight: 600;
    }
    & a{
        font-weight: 600;
        @include green_btn(1rem,3rem);
        margin-top: 2%;
    }
}

.product_availability--popup{
    position: fixed;
    top: 50%;
    left: 50%;
   z-index: 10;
    transform: translate(-50%,-50%)  scale(0);;
    overflow: auto;
    width: 60%;
    background-color: $color-white;
    transition: all .3s ease-in-out;
        & > div{
            width: 70%;
            margin: 0 auto;
        }
        & h3{
            padding: 5% 0;
            font-weight: 600;
            font-size: 2.8rem;
        }
        & p{
            padding-bottom:3%;
            width: 70%;
        }
       
        & input[type=email]{
            border: 1px solid $color-green-nav-btn;
            display: block;
            width: 40%;
                &:focus{
                    outline: 1px solid $color-green-nav-btn;

                }
        }
        & input[type=submit]{
            color: $color-white;
            margin-top: 1%;
            @include green_btn(.6rem,3.5rem);
            margin-bottom: 5%;
            border: none;
        }
}
.product_availability--popup.open{
    transform: translate(-50%,-50%) scale(1);
}
#detail_overlay{
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, .8);
    transition: all .2s ease-in-out;
    pointer-events: none;
}
#detail_overlay.open{
    opacity: 1;
    pointer-events: all;
}